package ui

templ Toast(message string) {
  <div id="toast" class="toast toast-top toast-end toast-start">
    <div class="alert alert-success">
      <span>{message}</span>
    </div>
  </div>
  <script>
    setTimeout(function () {
      $('#toast').fadeOut('fast');
    }, 2000);
  </script>
}
