package settings

import (
  "ftgodev-tut/models"
  "ftgodev-tut/view/layout"
)


templ Index(user models.AuthenticatedUser) {
  @layout.App(true) {
    <div>heelo from settings {user.Email }</div>
  }
}

