package view

import (
  "ftgodev-tut/models"
  "context"
  "strconv"
)

templ doh() {
  <div>wtf</div>
}

func AuthenticatedUser(ctx context.Context) models.AuthenticatedUser {
  user, ok := ctx.Value(models.UserContextKey).(models.AuthenticatedUser)
  if !ok {
    return models.AuthenticatedUser{}
  }
  return user
}

func String(i int) string {
  return strconv.Itoa(i)
}
